* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --grey-color: #d9dad7;
  --grey-color-transparent: #d9dad785;
  --rust-color: #c24d2c;
  --blue-grey-color: #3e4a61;
  --dark-blue-color: #1a2639;
  --green-color: #42b883;
  --horizontal-padding: 24px;
  --vertical-padding: 12px;
  --border-radius: 4px;
  --rust-lvl-1: rgba(194, 77, 44, 0.2);
  --rust-lvl-2: rgba(194, 77, 44, 0.1);
  --rust-lvl-3: rgba(194, 77, 44, 0.05);
  --rust-lvl-4: rgba(194, 77, 44, 0.025);
  background-color: var(--grey-color);
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}



header {
  width: 100vw;
  margin-bottom: 48px;
  box-shadow: 0px 8px 10px -5px var(--blue-grey-color);
  padding: var(--vertical-padding) var(--horizontal-padding);
  background-color: var(--blue-grey-color);
  color: var(--grey-color);
}

.btn {
  padding: 8px 16px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--blue-grey-color);
}

.btn:active {
  transform: translateY(1px);
}

.btn-green {
  color: var(--green-color);
}

.btn-green:hover {
  box-shadow: 0px 0px 4px 3px var(--green-color);
}

.btn-red {
  color: var(--rust-color);
}

.btn-red:hover {
  box-shadow: 0px 0px 4px 3px var(--rust-color);
}

#content {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

#library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 24px;
  gap: 12px;
}

.book-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue-color);
  height: 100%;
  border-radius: var(--border-radius);
  align-items: center;
  padding: 12px var(--horizontal-padding);
  color: var(--grey-color);
}

.book-card > hr {
  border-bottom: 0.5px solid var(--grey-color-transparent);
  width: 100%;
  margin: 8px 0px;
}

.modal > form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--dark-blue-color);
  margin: auto;
  padding: 24px;
  border-radius: var(--border-radius);
}

form > input {
  margin-bottom: 10px;
  height: 36px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  padding: 4px 8px;
  font-size: 1rem;
}

form > input:active {
  border: 2px solid var(--blue-grey-color)
}

form > label {
  margin-bottom: 5px;
  color: var(--grey-color);
  font-size: 1.2rem;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
  justify-content: center;
  color: var(--grey-color);
  font-size: 1.2rem;
  margin-top: 5px;
}

.radio-container input {
  margin-left: 5px;
}

form > button {
  margin-top: 16px;
}

#read-status-true:checked {
  accent-color: var(--green-color);
}

#read-status-false:checked {
  accent-color: var(--rust-color);
}

.del-btn {
  background-color: var(--rust-color);
  color: var(--blue-grey-color);
  height: 36px;
  width: 36px;
  border-radius: var(--border-radius);
  border: none;
}

.del-btn:hover {
  box-shadow:
  0 0 0 2px var(--rust-lvl-1),
  0 0 0 4px var(--rust-lvl-2),
  0 0 0 6px var(--rust-lvl-3),
  0 0 0 8px var(--rust-lvl-4);
}